[2020-10-03 02:23] kimdhamilton commented on #5
Additional context from Anthony Camilleri:

In our Europass modelling, we considered that there are actually two main concepts we felt we would need:
- hasAchieved: for the achievement of learning outcomes/objectives (as possibly evidenced by an assessment)
- hasPerformed: to describe learning activities done by the user which is not necessarily linked to achievement of learning outcomes. Examples

[2020-10-03 21:34] kimdhamilton opened #1 "[To Discuss] Credential terminology"
(Source: Anthony Camilleri) Terminology: “credential”
- CTDL & VC seem to define 'credential' differently.
- VC defines credential as containing a claim about a subject.
- CTDL is for describing course standards, instances of courses.
- We would do a service if as part of VC Ed modelling we distinguish these concepts, namely:
  - educational specification/standard > instantiation of the specificat

[2020-10-03 21:35] kimdhamilton opened #2 "[To Discuss] Discuss PDF VCs"
Discuss use of PDF as the verifiable credential wrapper, involving PDF with embedded JSON-LD/RDF

[2020-10-03 21:35] kimdhamilton opened #3 "[To Discuss] Image integrity"
Image/display discoverability and generalization

(Source: Anthony Camilleri)  We might consider adding a 'displayproperties' field into the credential. This could include html defining the look and feel of the credential, allowing export to pdf/xml/image/openbadge or any other format we need printing. Several countries define the visual look of credentials by law, so this would give us full cover

[2020-10-03 21:35] kimdhamilton opened #4 "[To Discuss] Accreditation"
From Anthony Camilleri:
I feel a recommended approach for dealing with accreditation should be an integral part of this spec. There are a number of approaches to this:
- trusted issuer lists for specific types of educational credentials
- VCs issued to organisations authorising them to issue educational credentials
-  trusted accreditation organisation list

Also there are different approaches to

[2020-10-03 21:36] kimdhamilton opened #5 "[Proposal] add hasPerformed to schema.org"
The group previously discussed using the `hasAchieved` term in credentialSubject, as a general notion applying to the concept of a "defined achievement", which spans multiple standards groups. [Meeting minutes](https://w3c-ccg.github.io/meetings/2020-08-10-vc-education/#topic-2).

We subsequently decided against that, given that schema.org already has a provisional `hasCredential`. Although that's

[2020-10-03 21:36] kimdhamilton opened #6 "Standard definitions of issuers"
Is it possible to supply guidance for authors of Verifiable Credentials for easy methods of defining issuers and standard metadata. Are there neutral/standard suggestions?

Open Badges 2.0 defines an [Issuer Profile](https://www.imsglobal.org/sites/default/files/Badges/OBv2p0Final/index.html#Profile) which is a useful definition, but is it valid to repurpose it as a generic issuer of educational (

[2020-10-03 21:36] kimdhamilton opened #7 "[Action item] Define XML serialization of VC and enable use of LD signatures with XAdES"
On the July 21 CCG call, we decided to define an XML serialization of VC and enable use of LD signatures with XAdES for use cases like EDCI. Need to perform VC data model changes and tooling.
[Meeting minutes](https://w3c-ccg.github.io/meetings/2020-07-21/#topic-3)

[2020-10-05 01:46] kimdhamilton opened #8 "Update samples with latest from gdoc"

[2020-10-07 12:38] stefan2904 commented on #7
Maybe relevant for https://github.com/european-commission-europass/Europass-Learning-Model, since they use VCs in XML (and XAdES to sign them).

[2020-10-07 22:11] kimdhamilton opened #9 "Update github action to include static files"
Initially, I manually ran the following to get the static files in the gh-pages branch:

[code]

We need to automate that as part of github actions

[2020-10-07 22:33] kimdhamilton opened #10 "[To Discuss] Discuss different Open Badges approaches in Example 1"

[2020-10-07 22:34] kimdhamilton commented on #8
done

[2020-10-07 22:34] #8 closed

[2020-10-07 22:42] kimdhamilton opened #11 "Check and update biblio"

[2020-10-10 14:22] bshambaugh opened #12 "Spurious thoughts"
Where is the place for curious comments (perhaps tangential) that everyone can see, but it is not awkward?

When I was looking at a related link:

https://app.welibrary.io/s/curators/m7rgf7r2tCwM3CwsQ/mapping-tool (t3 innovation network iirc)

I thought about the Linked Media Framework and Apache Stanbol (nlp semantic web tagger):
Some related links:
https://marmotta.apache.org/ , https://stanbol.

[2020-10-11 02:01] kimdhamilton commented on #12
this is perfectly on-theme and not tangential. I think it's a good idea for us to explore how these mappings fit in with this effort.

[2020-10-12 20:01] kimdhamilton commented on #5
Additional context from Nate Otto:

`hasCredential` is to be used for the use case of a claim that a `Person` `hasCredential` `DefinedCredential`

`hasPerformed` to be added for the use case of a claim that a `Person` `hasPerformed` Competency/Skill/Objective (the "Open Skills Assertion" use case where the creator of the thing achieved is not required to be the same as the issuer of the assertion.

[2020-10-12 22:14] bshambaugh commented on #12
Oh good. I probably have footprints on a hard drive.

[2020-10-13 04:05] bshambaugh commented on #12
Oh interesting, LMF stuff:

https://www.youtube.com/c/SebastianSchaffert/videos

I recall replicating this demo (IKS Content Enhancement Demo - Screencast 2):
https://www.youtube.com/watch?v=waP6-yy3iqc

I recall seeing something like this too with Apache Stanbol:
SRDC - Semantic Management of Health Related Data with Apache Stanbol
https://www.youtube.com/watch?v=l7n6aRFcn1U

[2020-10-19 16:38] anthonycamilleri commented on #5
I think we need to clarify a little bit around terms here:
`hasCredential` is still a little bit unclear to me.... see my comments on [hasCredential
](https://github.com/w3c-ccg/vc-ed-models/pull/13)
`hasAchieved` is actually to my understanding, meant to signal the accomplishment of a Competency/Skill/Objective and the conditions associated with that (such as how it was assessed, grades etc)
`has

[2020-10-28 06:57] Sakurann opened #14 "Extracting data in a pdf format from a VC"
How can the verifier reproduce a pdf record from the set of values below, given in the payload example in [section 1.5.3.](https://w3c-ccg.github.io/vc-ed-models/#approach-1-ilr-ler-wrapper-with-open-badges-json-ld-serialization--pdf-and-linked-competency-definitions)1?
Is there a standard protocol that can be used to extract the data in pdf format from "data" claim?
[code]

[2020-10-30 15:04] jchartrand commented on #9
@kimdhamilton

Do you mean that we should submit a PR on the spec-prod repo (https://github.com/w3c/spec-prod) to have the spec-prod action copy over directories from 'main' and not just the index.html file (as it does now)?  Maybe allow the spec-prod action to take a list of such directories (i.e., directories to copy) as an argument?

Or do you mean that we should modify the GitHub action in thi

[2020-10-30 16:47] kimdhamilton commented on #9
(corrected because I misread previously)

this is a good point. I hadn't considered adding this to spec-prod. For now, I was intending to modify the github action in this repo to copy over the directories. We might want to apply that change too in [markdown-to-spec](https://github.com/w3c-ccg/markdown-to-spec) since this was created from that template, but starting here would provide a good test c

[2020-11-01 22:57] VictorSyntez commented on #11
Hi Kim,
What help is needed?

[2020-11-02 02:02] kimdhamilton commented on #11
Hi Victor, thanks for asking! I think some of the entries are missing links, missing author names, etc.

The bibio is generated from the data in the json object starting here: https://github.com/w3c-ccg/vc-ed-models/blob/main/index.bs#L18. Right now anything unknown is marked TBD, but also there are some causes of missing authors where I've typed "alice; bob". :)

**Advanced**
- I'm not very famil

[2020-11-02 02:24] VictorSyntez commented on #11
Hi Kim,
What is the timeline on that?

[2020-11-02 14:42] jchartrand commented on #9
Will do - I will start with figuring out how to modify the GitHub action in this repo.

[2020-11-02 16:38] philbarker commented on #1
CTDL is Credential Transparency Description Language; it descibes credentials, but by credential means an educational or occupational credential (a.k.a qualification)

[2020-11-02 16:42] kimdhamilton commented on #5
List the definitions we need. Anthony has 4; he will iterate (via issue or spec change)

[2020-11-02 17:06] philbarker commented on #6
The Credential Engine has profile _requirements_ and _reccomendations_ for CTDL properties used to describe an [organization offering a credential](https://credreg.com/registry/policy#credentialorganization), and for a [QA organization](https://credreg.com/registry/policy#qacredentialorganization) accrediting credentials

[2020-11-04 18:25] jchartrand commented on #9
@kimdhamilton

I've submitted a PR with the change.  The PR is showing a failing check, but I think this is because it is trying to test what is in the action - which includes a push to the gh-pages branch (to update the static files) - and the bot doesn't have permission to make this push (which makes sense because the PR hasn't yet been accepted - you wouldn't want to willy nilly let anyhow subm

[2020-11-04 18:48] jchartrand commented on #11
Also happy to help out with this.

[2020-11-04 19:18] kimdhamilton commented on #11
Thanks guys! There's no deadline -- any progress on this helps. Even if it's just fixing one biblio issue.

If it makes sense to break this up into smaller issues we can do that too.

[2020-11-09 03:29] kimdhamilton opened #17 "Scope of this draft spec"
Per discussion last week, we should refine the scope of this draft spec and move other issues outside

[2020-11-09 16:00] kimdhamilton commented on #6
The organization properties look aligned. To discuss: CTID and general purpose of this field

[2020-11-09 16:11] kimdhamilton commented on #17
out of scope:

- XML mapping
- Image integrity - general
- PDF as container

[2020-11-09 16:15] kayaelle commented on #17
Has there been discussion to include evidence or documentation like Open Badges have? Whether as a link or embed or other ideas?

[2020-11-09 17:26] philbarker commented on #6
CTID is the identifier scheme Credential Engine uses. If you're uploading data about an organization (or other entity type) to the Credential Engine Registry you need a CTID for it (or get allocated one), hence it's in the minimum required data. It's used to form URIs for entities described in the Registry, and can be used to fetch that information. If you're not interacting with the Credential En

[2020-11-09 21:58] jeannekitchens commented on #1
Thank you @philbarker and @kimdhamilton.  CTDL is applicable in minimally these ways, it provides rich descriptions of credentials ranging from badges to degrees, see a types list here showing the credential subclasses https://credreg.net/page/typeslist along with related competencies, learning opportunities, assessments, and numerous other types of information.  It is applicable to the schema for

[2020-11-09 22:12] jeannekitchens commented on #4
@kimdhamilton CTDL handles third party quality assurance assertions both by the QA organization and by the credentialing organization self-identifying.  See these terms.  Accredtiations, endoresements, appprovals, recoginition, and regulations can be either at an organization level, at a program or course level or assessment, or directly on the credential.   To see these terms with their defintion

[2020-11-09 22:19] jeannekitchens commented on #6
@kimdhamilton here's some links to information about CTIDs.

CTDL Handbook https://credreg.net/ctdl/handbook#ctid
LER Guide https://credreg.net/quickstart/ilwrguide#ctdlsupport

It could be relevant outside the registry.  It is the unique identifier that is to resolve back to the resource (e.g., credential).  Whether in the Registry or on the Web, the CTID is useful.

As @philbarker noted CTDL has

[2020-11-10 04:15] kimdhamilton opened #20 "Need discussion of summary outcomes and outcome contexts"
Per 9 Nov meeting, we need some discussion of summary outcomes and outcome contexts . E.g. competencies or skills acquired in the course of some learning activity, "snapshots" such as GPA

[2020-11-10 04:16] kimdhamilton commented on #17
PR submitted by Anthony Camilleri, but per 9 Nov meeting decided to abstract into pseuodcode to avoid confusion around intent. I.e. restate the concepts in pseudo code  vs json-ld

[2020-11-10 06:15] anthonycamilleri commented on #4
@jeannekitchens I find these super-useful, and also quite similar to how we represent accreditations under Europass. In my view, from a 'document delivered to a student' perspective, we in particular need ceterms: accreditedBy, together with a property that would link to evidence of that accreditation.

Optional extensions could include properties describing what that accreditation means, but not

[2020-11-10 12:35] philbarker commented on #17
Regarding PR #18 would it be useful to try to relate the entities and relationships required to schema.org [`Action`](https://schema.org/Action) and subtypes such as the [`PerformAction`](https://schema.org/PerformAction),  [`AchieveAction`](https://schema.org/AchieveAction) and CTDL's [`CredentialingAction`](https://credreg.net/ctdl/terms/CredentialingAction#CredentialingAction)

I've sketched th

[2020-11-10 13:26] jeannekitchens commented on #4
@anthonycamilleri thank you.  I can link in the definitions later today.

[2020-11-11 23:46] kimdhamilton commented on #9
Fixed by @jchartrand -- thanks!

[2020-11-11 23:46] #9 closed

[2020-11-12 01:09] VictorSyntez commented on #11
Hi Kim,
As I understand, I'll need to contact organizations which are mentioned as publishers of various models in biblio to fill in gaps. What will be the best way to go about it? I might send them an inquiry mentioning w3c-ccg work on VCs in education. Or I simply dive into organizations webpages trying to figure out this information.
Victor.

[2020-11-16 02:30] kimdhamilton commented on #6
Sorry, I wrote that tersely. That was more of a note-to-self around generalized alignment of the unique identifier concept across standards, but that's probably more the domain of the [mapping tool](https://www.lerhub.org/s/curators/specs-0/s6wb9CdEi3qoxJQ48-0), which I've only recently started digging into.

[2020-11-16 02:32] kimdhamilton commented on #17
Sorry @philbarker, I just noticed this. Let's review tomorrow.

[2020-11-16 02:59] kimdhamilton opened #22 "Additional use case: VC containing details about the Program/Course/CourseInstance"
## Scenario

- VC using schema.org
- Representing that a `Person` has earned an `EOCred`
- Additionally containing details about the program (`EOProgram`?) and/or `Course`/`CourseInstance`s associated with the program.

Note: Navigationally, I can get from `EOProgram` to `EOCred` via `educationalCredentialAwarded`, but there's no pre-defined backwards link.

## Options to express this

1. `Person`

[2020-11-16 03:21] kimdhamilton commented on #17
additional concept not included in Anthony's PR: completion of a course/program #22

[2020-11-16 16:48] philbarker commented on #17
Link to updated versions of diagrams above: https://drive.google.com/file/d/17sQHMRlc6wS5cgEUOmBVB9GiUKouCL_I/view?usp=sharing

[2020-11-16 16:56] kayaelle opened #23 "Add Concept to Include Skills Used"
In addition to skills achieved, we may wish to add a representation of skills contributed.

For example: a person may achieve creating a mobile app primarily using skills they already have such as javascript but they may have improved these skills or used these skills as a scaffold for new skills such as adding the mobile app to the apple store.

In a single course or series/pathway of courses, th

[2020-11-16 17:01] kayaelle opened #24 "Concept 4 Question"
Concept 4 is:

describes a person’s participation/membership in an educational activity. Examples include: student of University of Wine Country, Apprentice Lawyer with the California bar association,

Could this also include a teacher teaching a course or a mentor mentoring a person?  Could it describe peer-to-peer education?

[2020-11-16 19:09] kimdhamilton commented on #17
Notes on reverse navigability: to avoid the need to add different properties on `Person` for different `Action` subjects, perhaps we can think of a good generic property.

In other words, instead of needing to add properties like `achieved`, `performed`, (or hasX variants), is there a generic property that would work? For example `Person executed/hasExecuted Action`.

Directly flipping `agent` is

[2020-11-17 10:20] philbarker commented on #17
It may be that `achieved` and `performed` are the properties we want, but they should point to an `AchieveAction` or a `PerformAction`. Adding (a small number) of new properties wouldn't bother me if doing so lead to greater clarity of the meaning in an educational context. But I don't think we need whole new object types to contextualise what those properties entail.

Q: do we need a distinct `pr

[2020-11-19 01:46] kimdhamilton commented on #17
My personal preference would be to avoid adding a property per Action, and instead have a single property that applies to Action subtypes -- primarily because it feels redundant.

I didn't know about `@reverse` -- also interesting. But I'd be interested in seeing if people think there's a single property we can add. I expect this to be a very common style of EDU VC, so it would be nice to avoid so

[2020-11-23 14:57] anthonycamilleri commented on #24
@kayaelle in my opinion, YES to all of these. CONCEPT 4 is meant to describe **current participation/enrolment** in any activity.

[2020-11-23 15:18] anthonycamilleri commented on #23
@kayaelle I agree with the need to represent these concepts.Thus, we may want to represent 'inputs' more widely for any concept.

These inputs could be:
- skills brought into a formalised process
- completed educational activities
- possession of certain diplomas.

None of these are 'new claims' but rather are supporting documentation to existing claims, so I would argue, that rather than a new hi

[2020-11-23 15:20] #24 closed

[2020-11-23 15:54] anthonycamilleri commented on #22
I would say that this isn't a new instance - it describes the 'concept' and 'instance' that aligns with what we're calling Concept 3.

[2020-11-23 15:58] anthonycamilleri commented on #6
I'm quite happy with the CTDL Handbook definition of issuers of within the type. We also need a way to describe **what** an issuer actually represents. A frequent use case is to have one organisation issuing a credential technologically, based on a claim that is made by another organisation.

Thus, we would want to capture:
Organisation A attests and signs that Organisation B claims X about Creden

[2020-11-25 01:51] kimdhamilton commented on #22
Right, this isn't a new use case; I just want to work through how it would work with schema.org types. I think EOCred, EOProgram, and Course will be especially interesting types to factor in.

I think this is 1 combined with 3: the learner completed a program (1) and, as a result, attained a credential (3)

[2020-11-25 01:57] kimdhamilton commented on #22
I updated the title to make that clearer

[2020-12-07 18:28] bshambaugh commented on #12
I believe category theory could be helpful for interoperability among data and types, the abstract data model talked about at IIW for CBOR, JSON, JSON-LD perhaps with Evan Patternson's paper because it is a guide to model knowledge and logic in a formal way, but I fear it is water cooler talk as momentum may be in a different direction and it is a bit of work for me to understand. Anyway, here is

[2020-12-08 02:21] kimdhamilton opened #25 "Semantic ambiguity of different vocabs like schema.org"
On the [11/16 call](https://w3c-ccg.github.io/meetings/2020-11-16-vc-education/), Kerri and Phil pointed out that schema.org types will introduce ambiguity compared to other vocabs/ontologies. We need to address that issue in this doc: call out where that might happen and/or ensure the schema.org use case does not have this issue.

[2020-12-14 16:00] larinyo commented on #4
@jeannekitchens It would be necessary to extend with actions like "suspends, suspendedBy suspendAction"

[2020-12-14 16:56] tkendal commented on #4
I believe [this taskforce](https://wiki.trustoverip.org/pages/viewpage.action?pageId=66102) was conceived to work on trusted registries, along with other questions of ecosystem governance. Would incubating a meta-level [TIP](https://github.com/trustoverip/technology-stack-wg/blob/master/TIP_LIFECYCLE_MANAGEMENT.md) or other guiding framework be useful (very chicken or egg — use cases to drive poli

[2020-12-14 17:18] kayaelle commented on #4
Putting this here as an example of consideration of accreditation for non-formal & informal learning: https://www.plaio.org/index.php/home/article/view/39

[2021-01-21 23:08] kimdhamilton opened #26 "Move examples to appendix"
Per [vc-edu workplan](https://docs.google.com/document/d/1oxez8ykQZm5uWAZ8KTDJvAh8P93_YLrzrqKuLM4PTL4/edit?ts=5ff5c040) we want to move the current examples to the appendix

[2021-01-25 16:38] kimdhamilton opened #28 "Milestone 1: Agree HL Concepts"
We should agree:
- The four high level concepts to be used, and whether they cover all existing use cases
- Names for the four high level concepts
- Definitions for the four high level concepts
- Concept of specification and instantiation

Questions remaining:
- Do we use schema.org, CTDL vocabularies or choose intentionally different names to avoid confusion with these?
- How do we relate concept

[2021-01-25 16:41] kimdhamilton commented on #28
## Discussion from 1/25

### Enrollment

Question: does concept 4 include enrollment meaning an employee learning skills on the job?
Answer: both formally through certificates and other on-the-job (less formal). Also self-learning

Note: we may only need a reinforcement of that level of abstraction applies here.

### "specification vs instantiation"

Feedback that this was unclear.

- @ottonomy: "

[2021-01-25 16:44] kimdhamilton commented on #28
- does concept 4 include enrollment meaning an employee learning skills on the job?
- we may only need a reinforcement of that level of abstraction applies here.

[2021-01-25 16:49] kimdhamilton commented on #28
"specification vs instantiation" was unclear.

@ottonomy: "Understand how credential metadata applies to specific holders or many holders of related credentials"

[2021-01-25 17:04] kimdhamilton commented on #28
@kayaelle, myself, and Victoria Feng to submit PR

[2021-01-27 21:43] vickstar666 commented on #28
Hi Kim,

What should I prepare for this?

Sincerely,

Victoria Feng
xDemic Inc.
Founder | CEO
Email: victoria@xDemic.com
Linkedin: https://www.linkedin.com/in/fengvf/
Web: www.xdemic.com

1250 Broadway | New York | NY 10001

[2021-01-29 03:25] #26 closed

[2021-01-29 04:10] kimdhamilton commented on #28
Sorry for the delay!

This milestone is mostly about pinning down section 1.4 -- what are the high-level concepts and the other bullets listed in the [first comment above](https://github.com/w3c-ccg/vc-ed-models/issues/28#issue-793536312).

We already have a [good start for the concepts](https://w3c-ccg.github.io/vc-ed-models/#concepts-requiring-definition-in-an-educational-context) based on previ

[2021-01-29 10:49] philbarker commented on #28
A comment on the names/labels used in [section 1.4](https://w3c-ccg.github.io/vc-ed-models/#concepts-requiring-definition-in-an-educational-context):

I think "skill" is too narrow. Competence would be better given the common definition of "knowledge skills and abilities". It's difficult to distinguish sills from abilities, so personally I prefer competence expanded as knowledge, skills and person

[2021-02-01 16:42] kimdhamilton commented on #28
- Kim to work with Jim on CEDS definitions
- Phil: does cross-mapping tool help?
    - https://www.lerhub.org/s/curators/m7rgf7r2tCwM3CwsQ/mapping-tool

[2021-02-01 16:59] kimdhamilton commented on #28
- Add issuer
- Add credential subject

[2021-02-01 19:34] kimdhamilton commented on #28
# Relevant CEDS definitions

Extracted from [CEDS Data Model Entities](https://ceds.ed.gov/dataModelEntities.aspx#Credentials)

## Credentials

Entity | Description
-- | --
Credential Definition | A resource that defines a competency or qualification, achievement, personal or organizational quality, experience, attribute, or aspect of an identity typically used to indicate suitability (See: Creden

[2021-02-01 20:14] kimdhamilton commented on #28
^^ Note the similarities of CEDS definitions for "Course", "Course Section", and "Program" for K-12 and Career and Technical Education (CTE).

Postsecondary, on the other hand, seems to deviate. There is a "PS Section" which seems similar in intent, but course and program are missing.

I looked at the LER Hub Mapping tool and it seems to refer to abstracted CEDS notions rather than these specific

[2021-02-10 01:22] kimdhamilton commented on #28
3-week countdown started Feb 8, 2021. Comments/issues welcome. If no objections, we can close this issue on March 1, 2021.

[2021-02-10 01:31] kimdhamilton opened #32 "Milestone 2: Issuer concept"
Milestone 2 tracks elaboration of [vc-ed-models](https://w3c-ccg.github.io/vc-ed-models/) concept 6 -- issuer. It's defined as follows:

Concept 6 (issuer): describes the person or entity that is issuing the credential. In the education/occupational space, the issuer could be an institution, organization, or employer. The issuer may also be a person. For example: a person such as a colleague may i

[2021-02-10 01:40] kimdhamilton commented on #32
Relevant Issuer details from IMS Global standards

## Open Badges
Open Badges defines an [Issuer / Profile](https://www.imsglobal.org/sites/default/files/Badges/OBv2p0Final/index.html#Profile)

Sample is below, but note that only `id` and `type` are required. Work is underway to allow issuer DIDs in Open Badges, but I believe that is not necessarily planned to be the `id` property (TODO: dig up li

[2021-02-10 14:15] martyr280 commented on #32
A couple of concepts that are important from the k12 context for transcripts:

- the issuer is officially the school
- the district authorizes the issuance of the assertion
- the superintendent of the district is the official signature on the document i.e. they have the authority to issue the assertion
- the assertion is officially issued by the State system as a proxy for the district/school

[2021-02-10 15:55] amiller-ims commented on #32
@kimdhamilton

https://github.com/IMSGlobal/openbadges-specification/blob/develop/ob_next/dids-in-badges.md

[2021-02-10 23:57] longpd commented on #32
In your edits to the CLR JSON @martyr280 you have the Publisher with the _name_= "A District". Then later you have Issuer with the _name_ = "A District" as well. By your comment wouldn't the issuer be the particular school, and the publishers the district within the school is located? Can you clarify that?

[2021-02-11 15:00] kayaelle commented on #28
Thinking more about concept 2: "Concept 2 (competency): describes a learning outcome and/or skill a person has as a result of participating in a learning activity. Examples of this might include piano playing, advanced woodworking, work in accordance with established sustainability practices"

I think we should make this broader to include an occupational context and recognition of achievements th

[2021-02-11 18:55] martyr280 commented on #32
@longpd at the achievement level of the CLR we have a parentOrg and Org as below:

      "achievement": {
        "id": "urn:uuid:4a984234-44cd-462d-a7a2-7341aa91c9e5",
        "name": "Cumulative GPA",
        "issuer": {
          "official": "Authoritative user",
          "parentOrg": {
            "id": "urn:uuid:c2f8de63-01d7-4c2d-ad73-78130713f063",
            "name": "A District",

[2021-02-11 21:16] longpd commented on #28
+1 to Kayaelle’s suggestion that this be extended to cover competencies learned through work, apprenticeship, and related occupational activities.

Cheers,
  Phil

Phillip Long, Ph.D., T3 Innovation Network, LER Pilot Projects Community Manager
e:  <mailto:phil@rhzconsulting.com>phil@rhzconsulting.com <mailto:phil@rhzconsulting.com>,
SNS: Twitter/Telegram @RadHertz
LinkedIn: https://www.linkedin.c

[2021-02-14 20:42] kimdhamilton commented on #28
+1 @kayaelle -- this is a good generalization

[2021-02-15 16:02] anthonycamilleri commented on #32
Some additional thoughts on my side around issuers, based on examples we have in Europe:

- several countries have ministries issue credentials on behalf educational institutions
- in the case of 'joint degrees' you can have credentials that are issued by multiple institutions
- in the case of 'validation of non-formal learning' certification is issued for credentials earned at a different issuer

[2021-02-15 16:32] #20 closed

[2021-02-16 22:05] kimdhamilton commented on #32
@anthonycamilleri and I discussed a [few options](https://docs.google.com/document/d/1rT_yjC28S32uPGlIhs_HIBdT7kyepSQ8i-8LU1wx1dA/view), which we'll discuss 22 Feb.

I just added Option 4, which questions whether this is in scope for Issuer. I can see the above cases being most flexibly addressed through capabilities, endorsements, separate assertions, and/or chained assertions. This task force ma

[2021-02-16 22:12] kimdhamilton commented on #32
Other notes from discussion with @anthonycamilleri:
- Show "common" target alignments, such as Open Badges Issuer/Profile and others, but no need to recommend any additional issuer properties on top of `id`
    - We discussed possibly `name` for interop, but even that was unclear
- In the absence of a target alignment, we could recommend schema.org types: `Person` and/or `Organization`

[2021-02-19 09:52] anthonycamilleri commented on #32
Some more thoughts here. European data protection legislation makes a distinction between a data processor and a data controller. The controller is the organisation that is actually responsible for the management of the user data, while the data processor is only responsible for processing data on explicit instructions from the controller. It is not clear which of these organisations in a relation

[2021-02-19 13:57] martyr280 commented on #32
@anthonycamilleri the concept of a processor and controller make sense, does the data controller moniker also dictate ownership or is that another entity.  In the case of the example above the district "owns" the data.

[2021-02-19 16:24] longpd commented on #32
I like the use of the GDPR distinction in Anthony has suggested. For our purposes I think the concern associated with who has the responsibility for the assertions about learning, where "responsibility" means they provided the training, stand behind the integrity of the instructional process and back the assertion as representing their assessed opinion of the learner's accomplishing demonstrating

[2021-02-21 07:10] larinyo commented on #32
My two cents (from the work been done in EBSI):

In some quality assurance model, it is not just the educational institution that issues the credential that can change the status of a previously issued VC/VA. Other authorized accreditation bodies may act on the status of the VC/VA (for example, a judge initiating a formal investigation to determine if the credential is valid may suspend the VC/VA

[2021-02-22 15:36] kimdhamilton commented on #32
This discussion is reinforcing my nagging feeling that the issuer/related authority variations mentioned in this thread may be out of scope for the base definition of issuer for a couple of reasons:
- not sure we have sufficient coverage of the types of variations
- not sure it needs to be modeled within a VC (i.e. is it multiple credentials? ocaps/zcaps?)

On the call today, I'd like to prioritiz

[2021-02-22 16:19] anthonycamilleri opened #33 "Widen scope of 'concept 2' outcome"
Thinking more about concept 2: "Concept 2 (competency): describes a learning outcome and/or skill a person has as a result of participating in a learning activity. Examples of this might include piano playing, advanced woodworking, work in accordance with established sustainability practices"

I think we should make this broader to include an occupational context and recognition of achievements th

[2021-02-22 16:24] anthonycamilleri opened #34 "Relation of Human Beings"
Mentioned at meeting of 22.02.21: should we include within our scope explaining the relations a credential subject has to others, e.g. as part of a team, as a member of a class etc

[2021-02-22 16:50] kimdhamilton commented on #32
22 Feb discussion:
- Postpone; outreach to other standards groups
- Issuer doesn't necessarily have relationship to edu experience that led to the credential
- What is consumer looking for w.r.t interpreting issuer
- Need standards for chains of credentials / relationships

[2021-02-27 18:55] ozgury opened #36 "Subject Concept"
Milestone 3 tracks elaboration of vc-ed-models concept 5 -- subject. It's defined as follows:

Concept 5 (subject): describes the person or entity that is the subject of the credential. In the education/occupational space, this person is likely a student and/or employee. This role is also called the receiver. Subject may be the holder of the credential but not necessarily, especially in cases wher

[2021-02-28 15:47] longpd commented on #36
Ozgury: the link to the discussion  for multiple  identifiers gives me a 404 on the IMSGLOBAL GitHub site. I have membership access to IMS so I don’t think that’s the issue. When I go to the root of the IMSGLOBAL GitHub repositories I don’t see one listed for ComprehensiveLearnerRecord. Perhaps I have to sign up for that repository at IMGLOBAL?

Just an access clarification question.

Phil

Philli

[2021-02-28 20:04] ozgury commented on #36
@longpd I believe that's the case. ComprehensiveLearnerRecord repository is private, you need to get access to it. I added the link thinking some of the discussion there could be useful but considering not everybody here will have access to it, we might consider removing the link.

I removed the link as discussed.

[2021-03-01 15:53] kimdhamilton commented on #32
Recommended changes:
1. Update definition of issuer to clarify that the issuer doesn't necessarily have relationship to learning experience that led to the credential
2. Issuer description highlights:
    - We use the term Issuer in the same sense as in the VC-DATA-MODEL with no additional semantics.
    - From the VC-DATA-MODEL: "The value of the issuer property MUST be either a URI or an object

[2021-03-01 16:27] kimdhamilton commented on #28
Extend deadline another week, to Mar 8

[2021-03-01 16:46] kimdhamilton commented on #32
Discussion:
- Dmitri: VC spec requires 1 issuer. Proposed options:
    - merged entity comprising multiple issuers.
    - (ad hoc) add "joined issuer" type, which would contain a list of issuers: https://github.com/w3c-ccg/vc-ed-models/issues/32#issuecomment-788057907
- Nate: Potentially out of scope for this deliverable.
- Kim: +1 out of scope, but describe this case as FYI to tell people where t

[2021-03-01 16:47] martyr280 commented on #32
Ex.    "issuer": {
          "official": "Macy Wood",
          "parentOrg": {
            "id": "urn:uuid:c2f8de63-01d7-4c2d-ad73-78130713f063",
            "name": "Wilton Public School District",
            "address": {
              "streetAddress": "504 Dakota Ave",
              "addressRegion": "ND",
              "addressLocality": "Wilton",
              "postalCode": "58579",

[2021-03-01 16:48] kimdhamilton commented on #32
^ CLR example

[2021-03-29 14:53] anthonycamilleri commented on #34
Question: Can we cover this with our new **involvement** concept?

[2021-03-29 15:04] anthonycamilleri opened #38 "Base Structure for activity/competence/achievement/involvement"
Proposed base set of fields for any concept:
![conceptbasemeta](https://user-images.githubusercontent.com/5365465/112857081-c6ddca80-90b0-11eb-91a0-488a92157a4a.png)

[2021-03-29 15:23] kimdhamilton commented on #32
3/29: approved; ready to close

[2021-03-29 15:23] kimdhamilton commented on #28
3/29: approved; ready to close

[2021-03-29 15:23] #28 closed

[2021-03-29 15:24] #32 closed

[2021-03-29 15:41] anthonycamilleri opened #39 "Examples of Activities"

[2021-03-29 15:42] anthonycamilleri commented on #39
John has run a race. He did so on the 14th December 2021, had a time of 3h 48m.

[2021-03-29 15:46] jgoodell2 commented on #39
Person has completed a workplace sensitivity training workshop.

[2021-03-29 15:48] mlisle commented on #39
Here's a recent example from Georgia Tech.

Jane has completed the Cross-Cultural Experiences program. She did so on February 1, 2021. She attended three workshops on the topics of culture and self-awareness, perception and values, and the Culture Map, and completed a culminating self-assessment on the skills gained throughout the program.

[2021-03-29 15:49] jgoodell2 commented on #39
Person has completed 18 hours of supervised practice driving.

[2021-03-29 15:50] bumblefudge commented on #39
Person was 4th author / editor / lab assistant that contributed to the publication of DOI [10.1093/ajae/aaq063](https://onlinelibrary.wiley.com/doi/abs/10.1093/ajae/aaq063).

(Obviously primary/marquis authorship gets tracked better in other places, but of particular interest to me is recognizing the work of graduate student editors, interns, collective work, etc.  the often unnamed editor or assi

[2021-03-29 15:52] ozgury commented on #39
Person was assessed in problem-solving skills on the 29th or March 2021 and has received a rubric level of Capstone (4).

[2021-03-29 15:56] jgoodell2 commented on #39
Person has completed 8000 hours of electrical work experience over a minimum of four years. (or some portion of that to meet one of several requirements for a journeyman electrician's license)

[Stacked credential use case questions: How best to link to the complex set of requirements for the credential that this activity qualifies a person for? Does it link from this instance or is this just disc

[2021-03-29 16:13] longpd commented on #34
You're proposing using involvement to represent team-based activities which I think is a good notion. It leads to thinking carefully about the nature of this involvement and I expect there is a restricted set of metadata that might be worth considering, much like your suggestion of 'instance' that has a graph metadata context for clarification.

Describing a person's contribution to a team is one

[2021-03-29 16:16] tkendal commented on #39
Person (or more accurately, virtual avatar) has completed 20 hr. VR lunar module training simulation.
*Side note: curious to learn about @bumblefudge's interest in the U.S. Corn Seed Market :)

[2021-03-29 17:11] kezike commented on #39
Person has reached expert level proficiency in tailoring for large ceremonies (e.g., traditional attire in a Nigerian wedding)

**Note 1:** This use case might require the designation of a new credential schema for tailoring with terms such as *eventCount* (number of events subject has tailored for in the past?), *maxModelsPerEvent* (most amount of people subject has tailored for in an event), *im

[2021-03-29 17:15] philbarker commented on #38
I would like to have another go at explaining what I think is the problem with instance here (and why Concept and instance should be swapped).

Say Li and Nina both have Badges in  Information Technology Life Cycle Support, but from different years. The badge is described in Credential Engine and has `@id` `https://credentialengineregistry.org/resources/ce-4abc087a-1d38-42d0-a335-d9f55d24112` whic

[2021-03-30 16:27] roverwolf commented on #39
Person has attended the _Train the Trainer 1 seminar_ on _29 March 2021_.

[2021-04-12 15:44] kimdhamilton commented on #38
Resolutions:
- Flip relationship per @philbarker's comments above
- Similarities/diffs withs Open Badges (Person, BadgeClass, etc)
- Status/expiration: at the outer layer, provide examples (change of status, types)
- Mutability of BadgeClass (hashlinks, inline data, etc)
- Duplicate terms at different levels
- Using "credential status" as pointer to latest version

[2021-04-12 15:52] kimdhamilton commented on #34
Propose to handle as part of involvement; close this issue on 4/19 if no objections

[2021-04-12 15:58] kimdhamilton commented on #33
Handled. Propose to close on 4/19 if no objections.

[2021-04-19 14:52] kimdhamilton commented on #38
<img width="593" alt="Screen Shot 2021-04-19 at 8 40 59 AM" src="https://user-images.githubusercontent.com/3945683/115264269-006f8780-a0eb-11eb-94ee-69fb4c143343.png">

Guide:

- Bold: required field
- Italic: conceptual or TBD

[2021-04-19 15:31] kimdhamilton commented on #38
<img width="584" alt="Screen Shot 2021-04-19 at 8 30 35 AM" src="https://user-images.githubusercontent.com/3945683/115262611-8d194600-a0e9-11eb-8d17-f59271326c42.png">

[2021-04-19 15:33] ottonomy commented on #38
@kimdhamilton this latest diagram looks much more like "Option 2" from https://github.com/WebOfTrustInfo/rwot6-santabarbara/blob/master/final-documents/open-badges-are-verifiable-credentials.md rather than a structure more like "Option 1" which we were previously working from.

I am concerned somewhat that almost everything in the "Credential Instance" is duplicative of properties at the Credentia

[2021-04-19 15:36] kimdhamilton commented on #38
@ottonomy: not sure if you heard my commentary, but credential instance may (will probably) go away entirely. This is a placeholder

I should repeat from the above: everything italicized is conceptual placeholders while working through the concepts

[2021-04-19 16:28] AdamJLemmon commented on #38
A quick follow up from the 4/19 W3C call... it sounds like we are wanting an outer container structure to contain many `credentials`, where a credential may be a VC, OB, text string, pdf, etc. which I don't know VCs were designed for?  Perhaps something closer to CLR or LER?

Otherwise perhaps a less duplicative claim name could work in the VC?  Ie. the `hasAchieved: []`... `transcript: []`... `ar

[2021-04-19 21:28] #33 closed

[2021-04-19 21:29] #34 closed

[2021-04-19 23:03] ottonomy commented on #38
@kimdhamilton apologies if I pulled the discussion into any unproductive territories by discussing directly whether or not there should be an intermediate "Credential Instance" model that is part of the claim. This is the fundamental question that I have been wrestling with for a few years, but I see your point that separately, it is also useful to outline what the core necessary concepts are to e

[2021-05-24 19:02] kimdhamilton commented on #38
resolutions from 4/19 meeting

- flip relationship per @philbarker comments
  (https://github.com/w3c-ccg/vc-ed-models/issues/38)
- discuss similarities & difference with OpenBadges (person,
  badgeclass, etc)
- status & expiration: at outer layer, provide examples
  (change of status, types)
- discuss mutability of BadgeClass (hashlinks, inline data,
  etc)
- duplicate terms at different levels
-

[2021-06-22 14:54] philbarker opened #40 "hasCredential is confusing as a property name"
Calling the property that links a Subject to what they are claiming `hasCredential` is confusing in the context of something that is already a Credential. It's also true that many of the things being claimed won't be credentials (we have activity, acheivement, involvement, competency).

If we are to have a single property for all these things I suggest `claims`, which works well grammatically:
Phi

[2021-06-23 01:55] kimdhamilton commented on #40
@kayaelle you might find this interesting

[2022-10-24 18:28] kayaelle commented on #10
Reviewing issues and closing this one. Open Badges 3.0 has defined how they will align to the VC Spec: https://imsglobal.github.io/openbadges-specification/ob_v3p0.html

[2022-10-24 18:28] #10 closed